{% extends 'base.html.twig' %}
{% block title %}Menu seleccion{% endblock %}

{% block body %}
<style>
    h1 {
        justify-content: center;
        text-align: center;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;


    }

    form {
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    input {
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<h1>{{title}}</h1>
<p>Indique ID de proveedor.</p>
<br></br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}