{% extends 'base.html.twig' %}
{% block title %}Menu seleccion{% endblock %}

{% block body %}
<h1>{{title}}</h1>
Indique ID de proveedor.
<br></br>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}